.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #b9dfea;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.main-page {
  padding: 10vh;
}

.date-font {
  font-size: 12px;
}

.form-col {
  padding: 5px;
}
